{% extends 'core/base.html' %}

{% load static %}

{% block tittle %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header %}
    <h1>Contacto</h1>
    <span class="subheading">Información</span>
{% endblock %}

{% block contenido %}
<div class="row">    
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{título}}</p>
        <br>
        <p><b>Teléfono:</b> {{teléfono}}</p>
        <p><b>Correo:</b> {{email}}</p>
    </div>
</div>
{% endblock %}