{% extends 'core/base.html' %}

{% load static %}

{% block tittle %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact2-bg.jpg' %}{% endblock %}

{% block header %}
    <h1>Contacto</h1>
    <span class="subheading">Información</span>
{% endblock %}

{% block contenido %}
<div class="row">    
    <div class="col-lg-8 col-md-10 mx-auto">
        <h2>{{título}}</h2><br>        
        <p><b>Teléfono:</b> <a href="tel:{{teléfono}}">{{teléfono}}</a></p>
        <p><b>Correo:</b> <a href="mailto:{{email}}">{{email}}</a></p>
    </div>
</div>
{% endblock %}